{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!
{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<h1>Questionnaire C#</h1>
<h1>{{ userID }}</h1>
<form action="{{ path('quiz') }}" method="POST">
	{% for key, question in questions %}
	<div class="card bg-light mb-3 d-flex align-self-center" style="width: 70rem;">
		<div class="card-header">Question :
			{{ nbrQuestion[key] }}</div>
		<div class="card-body">
			<h3>{{ question.queTitle }}</h3>
			{% for ans in question.tAnswers %}
			<input name="answers{{ question.id }}[]" {% if question.queType == 0 %} type="checkbox" {% else %} type="radio" {% endif %}
				id="question{{ question.id }}" value="{{ ans.id }}">
			{{ ans.ansTitle }}
			</input><br>
			{% endfor %}
		</div>
	</div>{% endfor %}<div class="btn-group" style="display: inline-block;">
		<button type"submit" class="btn btn-secondary" style="width: 10rem; float:right;">Terminer</button>
	</div>
</form>
{% endblock %}